*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #23253A;
}
h1,h2,h3,h4,h5,h6,a,p{
    font-family: "Poppins", sans-serif;
}
a.nav-link{
    color: white !important;
    font-weight: 500;
}
a.navbar-brand{
    color: white !important;
    font-style: italic;
    font-weight: 700;
}
.link-sosial-media{
    display: flex;
    gap: 2rem;
}
.link a{
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    border: 2px solid #F9485A;
}
.judul h1{
    color: white;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.des p{
    color: white;
    width: 70%;
}
.tombol1 a{
    text-decoration: none;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    border: 1px solid #F9485A;
}
.tombol2 a{
    text-decoration: none;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
 background-color: #F9485A;
}